/* coverpage title */
.cover h1 a {
  transition: all .3s ease-in-out;
}
.cover h1 a:hover {
  transform: translate3d(0px, -6px, 0px);
}

/* coverpage button */
.cover .cover-main>p:last-child a{
  margin: .375rem 1rem
}
.cover .cover-main>p:last-child a:hover{
  transform: translate3d(0px, -1px, 0px);
}
.cover-main>p:last-child a:first-child{
  margin-bottom: 1.5rem;
}

/* sidebar */
.sidebar>h1 {
  transition: all var(--duration-fast) ease-in-out
}
.sidebar>h1:hover {
  font-weight: bold;
  transform: translate3d(0px, -3px, 0px);
}
.sidebar-toggle .sidebar-toggle-button {
  transition: all var(--duration-fast) ease-in-out
}
.sidebar-toggle .sidebar-toggle-button:hover {
  transform: scale(1.2);
}
.markdown-section {
  margin-top: 2.7rem;
}
.sidebar-nav li>a[href^="#/"]:not([href*="?id="]):only-child:hover{
  transform: translate3d(0px, -1px, 0px);
}

/* coverpage cover container */
.cover-main {
  animation: 2s ease-out fadeInUp;
}

::selection {
  background-color: #000;
  color: #fff;
}

/* home.md div */
.home-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8rem;
}

.home-div img {
  animation: 4s ease-in-out upAndDown infinite;
}

#outer-video {
  border: 0;
  border-radius: 8px;
  margin-top: 20rem;
  margin-bottom: 8rem;
}

/* keyframes */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 25%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes upAndDown {
  0% { transform: translate3d(0, 0, 0); }
  50% { transform: translate3d(0, 4%, 0); }
  100% { transform: translate3d(0, 0%, 0); }
}

img {
  border-radius: 8px;
  transition: all var(--duration-fast) ease-in-out;
}

img:hover {
  transform: scale(1.02)
}

.shadow {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
}
.shadow:hover {
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.12);
}